$success-custom: #16b81e;
$danger-custom: #d63939;
$secondary-custom: #999;

.link-voute {
  text-decoration: none;
  display: inline-block;
  min-width: 60px;
  text-align: center;
  font-weight: 600;
  color: $secondary-custom;
  padding: 5px 7px;
  border-radius: 5px;
}

.link-voute.link-upvote {
  border: $success-custom 1px solid;
  color: $success-custom;
}

.link-voute.link-downvote {
  border: $danger-custom 1px solid;
  color: $danger-custom;
}

.link-voute.link-upvote.enabled {
  color: #fff;
  background-color: $success-custom;
}

.link-voute.link-downvote.enabled {
  color: #fff;
  background-color: $danger-custom;
}

.rating {
  display: inline-block;
  min-width: 30px;
  text-align: center;
  border: $secondary-custom 1px solid;
  font-weight: 600;
  color: $secondary-custom;
  padding: 5px 7px;
  border-radius: 5px;
}



